[Unit]
Description=Homarr Dashboard Container
After=network-online.target podman.socket
Wants=podman.socket

[Container]
ContainerName=homarr
Image=ghcr.io/homarr-labs/homarr:latest
AutoUpdate=registry
Network=homelab.network
PublishPort=7575:7575
Volume=%h/.local/share/homarr:/appdata:Z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true
AddHost=host.containers.internal:host-gateway
EnvironmentFile=%h/.secrets
# Environment=SECRET_ENCRYPTION_KEY (defined in ~/.secrets as HOMARR_SECRET_ENCRYPTION_KEY)

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
