[Unit]
Description=ONLYOFFICE Document Server
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=onlyoffice
Image=docker.io/onlyoffice/documentserver:latest
Network=homelab.network
AutoUpdate=registry
SecurityLabelDisable=true

# Expose internal port 80 to host port 8089 for direct/local access
PublishPort=8089:80

# Persistent storage
Volume=%h/.local/share/onlyoffice/data:/var/www/onlyoffice/Data:Z
Volume=%h/.local/share/onlyoffice/logs:/var/log/onlyoffice:Z
Volume=%h/.local/share/onlyoffice/lib:/var/lib/onlyoffice:Z
Volume=%h/.local/share/onlyoffice/local-production-linux.json:/etc/onlyoffice/documentserver/local-production-linux.json:Z

# Environment and JWT authentication
EnvironmentFile=%h/.secrets
Environment=JWT_ENABLED=true
# Environment=JWT_SECRET=<removed 2026-09-11 — rotated>
Environment=JWT_HEADER=Authorization
Environment=JWT_IN_BODY=true
Environment=USE_UNAUTHORIZED_STORAGE=true
Environment=SECURE_LINK_SECRET=bO8wjVjWRQ1bl24R2ihD

Label=homepage.name=ONLYOFFICE
Label=homepage.group=Servers
Label=homepage.icon=onlyoffice
Label=homepage.href=https://office.hemati.com
Label="homepage.description=Docs & Sheets Editor"
[Service]
Restart=always
RestartSec=10
CPUWeight=20

[Install]
WantedBy=default.target
