[Unit]
Description=Threadfin IPTV Proxy
After=network-online.target

[Container]
Image=docker.io/fyb3roptik/threadfin:latest
AutoUpdate=registry
ContainerName=threadfin
# Setting your local Texas timezone
Environment=TZ=America/Chicago
# Threadfin's default port
PublishPort=34400:34400
# Map config and temp directories to your user space
Volume=%h/.mnt/2T/appdata/threadfin/conf:/home/threadfin/conf:Z
Volume=%h/.mnt/2T/appdata/threadfin/temp:/tmp/threadfin:Z

[Service]
Restart=always
# Optional: Delay start slightly to ensure network is fully up
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=default.target
