{{- /* Detect the environment for execution logic */ -}}
{{- $envType := "mutable" -}}
{{- if stat "/run/.containerenv" -}}
{{-   $envType = "container" -}}
{{- else if stat "/run/ostree-booted" -}}
{{-   $envType = "immutable" -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1au3c5etgystypq0exjadeyrfqg443437n3p0hj2xg7q4j0wr3ats80pmmr"

[data]
    envType = {{ $envType | quote }}
