[Unit]
Description=Immich-redis
After=network-online.target

[Container]
ContainerName=immich-redis
Network=homelab.network
Image=docker.io/library/redis:6.2-alpine
