[Unit]
Description=Jellyfin Media Server
After=network-online.target

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
Network=homelab.network
SecurityLabelDisable=true

# AMD Hardware Acceleration (Passes the GPU directly to the container)
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

# Config and Cache go on the fast SSD
Volume=%h/.local/share/jellyfin/config:/config:Z
Volume=%h/.local/share/jellyfin/cache:/cache:Z

# Bulk Media Storage on the HDD (No :Z flag to protect the filesystem!)
Volume=%h/.mnt/10T:/media
Volume=%h/.mnt/rclone/Zurg:/media/zurg

Environment=TZ=America/Chicago

[Service]
Restart=always

[Install]
WantedBy=default.target
