[Unit]
Description=Nextcloud Container
# Tell it to wait for and require the DB to start
After=network-online.target nextcloud-db.service
Requires=nextcloud-db.service

[Container]
# Add the name so Cloudflare can find it
ContainerName=nextcloud
Network=homelab.network
Image=docker.io/library/nextcloud:latest

# We removed PublishPort. Cloudflared will access it internally via port 80.

# Config on SSD
Volume=/var/mnt/2T/appdata/nextcloud/config:/var/www/html:Z
Volume=/var/mnt/2T/appdata/nextcloud/data:/var/www/html/data:Z
# Data on HDD
Volume=/var/mnt/10T:/mnt/10T
Volume=%h/.mnt/rclone:/mnt/rclone

EnvironmentFile=%E/bash/.secrets
Environment=MYSQL_HOST=nextcloud-db
Environment=MYSQL_DATABASE=nextcloud

[Install]
WantedBy=default.target
