[Unit]
Description=Nextcloud-DB
After=network-online.target

[Container]
Network=homelab.network
ContainerName=nextcloud-db
Image=docker.io/library/mariadb:10.6
Volume=/var/mnt/2T/appdata/nextcloud/db:/var/lib/mysql:Z
EnvironmentFile=%E/bash/.secrets
Environment=MYSQL_DATABASE=nextcloud
