[Unit]
Description=Vaultwarden Server
After=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
Environment=DOMAIN=https://vault.hemati.com
Environment=SIGNUPS_ALLOWED=false
Environment=DATABASE_URL=/data/db.sqlite3
Volume=%h/.local/share/vaultwarden:/data:Z
Network=homelab.network
EnvironmentFile=%h/.secrets

[Service]
Restart=always

[Install]
WantedBy=default.target
