[Unit]
Description=Collabora Online CODE (LibreOffice-based editor for Nextcloud)
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=collabora
Image=docker.io/collabora/code:latest
Network=homelab.network
PublishPort=9980:9980
Volume=%h/.local/share/collabora:/opt/collabora:Z
EnvironmentFile=%h/.secrets
Environment=extra_params=--o:ssl.enable=false --o:ssl.termination=true
Environment=aliasgroup1=https://collabora.hemati.com
Environment=server_name=cloud.hemati.com

Label=homepage.name=Collabora
Label=homepage.group=Servers
Label=homepage.icon=https://cdn.simpleicons.org/collaboraonline/5C2983
Label=homepage.href=https://collabora.hemati.com
Label="homepage.description=LibreOffice Online"
[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
