[Unit]
Description=Nextcloud Container
# Tell it to wait for and require the DB to start
After=network-online.target nextcloud-db.service
Requires=nextcloud-db.service

[Container]
# Add the name so Cloudflare can find it
ContainerName=nextcloud
Network=homelab.network
Image=docker.io/library/nextcloud:latest
AutoUpdate=registry

# We removed PublishPort. Cloudflared will access it internally via port 80.

# Config on SSD
Volume=%h/.local/share/nextcloud/config:/var/www/html/config:Z
Volume=%h/.local/share/nextcloud/data:/var/www/html/data:Z
Volume=%h/.local/share/nextcloud/custom_apps:/var/www/html/custom_apps:Z
# Data on HDD
Volume=%h/.mnt/10T:/mnt/10T
Volume=%h/.mnt/rclone:/mnt/rclone

EnvironmentFile=%h/.secrets
Environment=MYSQL_HOST=nextcloud-db
Environment=MYSQL_DATABASE=nextcloud
Environment=NC_overwriteprotocol=https
Environment=NC_overwrite.cli.url=https://cloud.hemati.com
Environment=TRUSTED_PROXIES="127.0.0.1 10.89.0.0/24 10.88.0.0/16 169.254.1.2"
Environment=NC_maintenance_window_start=1
Environment=NC_default_phone_region=US

[Install]
WantedBy=default.target
