[Unit]
Description=StremThru Proxy Service
After=network-online.target

[Container]
ContainerName=stremthru
Image=ghcr.io/muniftanjim/stremthru:latest
AutoUpdate=registry
Network=homelab.network

# Environment variables for access
EnvironmentFile=%h/.secrets
# For multi-IP protection outside your home network, set your external access URL:
# Environment=STREMTHRU_BASE_URL=https://your-domain-or-tailscale-ip:8080
Environment=STREMTHRU_BASE_URL=https://stremthru.hemati.com
# Persistent storage for configuration data
Volume=%h/.mnt/2T/appdata/stremthru:/app/data:Z

[Service]
Restart=always

[Install]
# Pull the service into the multi-user target flow
WantedBy=default.target
