[Unit]
Description=Stremio Web UI Application
After=network-online.target stremio-server.service
Requires=stremio-server.service

[Container]
Image=docker.io/sognen/stremio-web:latest
ContainerName=stremio
AutoUpdate=registry
Network=homelab.network

# Publish port for web interface access on host (using 8085 to avoid host 8080 conflict)
PublishPort=8085:8080

[Service]
Restart=always

[Install]
WantedBy=default.target
