{:logseq-awesome-ui {:version "v2.4.0", :repo "yoyurec/logseq-awesome-ui", :effect true, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-webpage-title {:version "v1.3.0", :repo "paulkinlan/logseq-webpage-title", :effect true, :theme false}
 :unfinished-business {:version "0.1.6", :repo "QWxleA/Unfinished-business", :effect false, :theme false}
 :logseq-link-unlinked {:version "v1.5.1", :repo "usoonees/logseq-plugin-link-unlink", :effect true, :theme false}
 :logseq-plugin-task-check-date {:version "2.1.0", :repo "DimitryDushkin/logseq-plugin-task-check-date", :effect false, :theme false}
 :logseq-plugin-ai-assistant {:version "v1.6.0", :repo "ahonn/logseq-plugin-ai-assistant", :effect true, :theme false}
 :logseq-awesome-props {:version "v1.10.0", :repo "yoyurec/logseq-awesome-props", :effect true, :theme false}
 :logseq-todo-plugin {:version "v1.22.0", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false}
 :logseq-agenda {:version "v3.13.1", :repo "haydenull/logseq-plugin-agenda", :effect true, :theme false}}
