[Unit]
Description=Jottacloud Daemon inside Fedora Distrobox
After=podman.service

[Service]
Type=simple
ExecStart=/usr/bin/distrobox-enter -n fedora -- jottad datadir %h/.local/share/jottad
Restart=always

[Install]
WantedBy=default.target
