[Unit]
Description=Immich AI Machine Learning
After=network-online.target
Wants=network-online.target

[Container]
Network=homelab.network
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release
AutoUpdate=registry

# Give it GPU access for faster facial recognition & ML inference
AddDevice=/dev/dri
GroupAdd=keep-groups
SecurityLabelDisable=true
Volume=%h/.local/share/immich/model-cache:/cache:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
