[Unit]
Description=Shlink Web Client Dashboard
After=network-online.target shlink.service
Wants=shlink.service

[Container]
ContainerName=shlink-web-client
Image=docker.io/shlinkio/shlink-web-client:stable
Network=homelab.network
AutoUpdate=registry
EnvironmentFile=%h/.local/share/shlink/shlink.env

Label=homepage.name=Shlink UI
Label=homepage.group=Containers
Label=homepage.icon=https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/svg/shlink.svg
Label=homepage.href=https://shlink.hemati.com
Label="homepage.description=URL Shortener Dashboard"

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
