[Unit]
Description=Shlink URL Shortener Backend
After=network-online.target shlink-db.service
Requires=shlink-db.service

[Container]
ContainerName=shlink
Image=docker.io/shlinkio/shlink:stable
Network=homelab.network
AutoUpdate=registry
EnvironmentFile=%h/.local/share/shlink/shlink.env

#Label=homepage.name=Shlink
#Label=homepage.group=Containers
#Label=homepage.icon=https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/svg/shlink.svg
#Label=homepage.href=https://go.hemati.com
#Label="homepage.description=URL Shortener API"

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
