[Unit]
Description=Riven PostgreSQL Database
After=network-online.target

[Container]
ContainerName=riven-db
Image=docker.io/library/postgres:17-alpine
AutoUpdate=registry
Network=homelab.network

Volume=%h/.local/share/riven/postgres:/var/lib/postgresql/data:Z

Environment=POSTGRES_USER=eric
Environment=POSTGRES_PASSWORD=100204180
Environment=POSTGRES_DB=riven
Environment=TZ=America/Chicago

[Service]
Restart=always

[Install]
WantedBy=default.target
