[Unit]
Description=Riven Debrid Media Manager Backend
After=network-online.target riven-db.service riven-redis.service zurg.service

[Container]
ContainerName=riven
Image=docker.io/spoked/riven:latest
AutoUpdate=registry
Network=homelab.network
SecurityLabelDisable=true
AddDevice=/dev/fuse

Volume=%h/.local/share/riven/data:/riven/data:Z
Volume=%h/.local/share/riven/symlinks:/mnt/riven:rshared,z
Volume=%h/.mnt/rclone/Zurg:/mnt/zurg:ro,rshared
Volume=%h/.local/share/riven/trakt_api.py:/riven/src/program/apis/trakt_api.py:Z
Volume=%h/.local/share/riven/trakt.py:/riven/src/program/services/indexers/trakt.py:Z
Volume=%h/.local/share/riven/item.py:/riven/src/program/media/item.py:Z
Volume=%h/.local/share/riven/shared.py:/riven/src/program/services/scrapers/shared.py:Z

Environment=TZ=America/Chicago
Environment=PUID=1000
Environment=PGID=1000

[Service]
Restart=always

[Install]
WantedBy=default.target
