[Unit]
Description=Riven Redis Cache
After=network-online.target

[Container]
ContainerName=riven-redis
Image=docker.io/library/redis:8-alpine
AutoUpdate=registry
Network=homelab.network

Volume=%h/.local/share/riven/redis:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
