[Unit]
Description=Open Terminal Sandbox Environment
After=network-online.target

[Container]
ContainerName=open-terminal
Image=ghcr.io/open-webui/open-terminal:latest
AutoUpdate=registry
Network=homelab.network
EnvironmentFile=%h/.secrets
UserNS=keep-id:uid=1000,gid=1000
Volume=%h/.local/share/open-terminal:/home/user:Z
PublishPort=127.0.0.1:8085:8000

Label=homepage.name=Open-Terminal
Label=homepage.group=Servers
Label=homepage.icon=nexterm
Label=homepage.href=https://terminal.hemati.com/docs
Label="homepage.description=Sandboxed Agent Terminal"
[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
