[Desktop Entry]
Type=Application
Name=Stremio Service
X-XDP-Autostart=com.stremio.Service
Exec=flatpak run com.stremio.Service
X-Flatpak=com.stremio.Service
Hidden=false
Comment=No comment set.
Terminal=false
